html,
body {
  padding: 0;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
  background-color: #FFE0DA;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #FFE0DA;
}

::-webkit-scrollbar-thumb {
  background: #330817;
}